<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_name, style: "display: block" %>
    <%= form.text_field :user_name %>
  </div>

  <div>
    <%= form.label :user_password, style: "display: block" %>
    <%= form.text_field :user_password %>
  </div>

  <div>
    <%= form.label :user_email, style: "display: block" %>
    <%= form.text_field :user_email %>
  </div>

  <div>
    <%= form.label :user_firstname, style: "display: block" %>
    <%= form.text_field :user_firstname %>
  </div>

  <div>
    <%= form.label :user_lastname, style: "display: block" %>
    <%= form.text_field :user_lastname %>
  </div>

  <div>
    <%= form.label :group, style: "display: block" %>
    <%= form.collection_select(:group_ids, Group.all, :id, :group_name, {prompt: "Make your selection of groups (can be empty)"}, {multiple: true}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
