<p style="color: green"><%= notice %></p>

<%= render @user %>

<% if @user.groups.any? %>
  <%= render @user.groups %>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
